name: Update Main Version
run-name:
  Move ${{ github.event.inputs.major_version }} to
  ${{github.event.inputs.target}}

on:
  # checkov:skip=CKV_GHA_7: Manual retagging requires controlled user inputs (target + major tag)
  workflow_dispatch:
    inputs:
      target:
        description: The tag or reference to use
        required: true
      major_version:
        type: choice
        description: The major version to update
        options:
          - v1

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Tag new target
        run: |
          git tag -fa ${{ github.event.inputs.major_version }} ${{ github.event.inputs.target }} -m "Update ${{ github.event.inputs.major_version }} to point to ${{ github.event.inputs.target }}"
      - name: Push new tag
        run: git push origin ${{ github.event.inputs.major_version }} --force
